@page
@model car_log.Pages.Records.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Trip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Gallons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Record)
    {
        string odoReading = $"{item.Odometer:n0}";
        string theTrip = $"{item.Trip:n1}";
        string gals = $"{item.Gallons:n3}";
        string theCost = $"${item.Cost:n2}";
        <tr>
            <td>@item.Time.ToString("yyyy.MM.dd")</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>@Html.DisplayFor(m => odoReading)</td>
            <td>@Html.DisplayFor(m => theTrip)</td>
            <td>@Html.DisplayFor(m => gals)</td>
            <td>@Html.DisplayFor(m => theCost)</td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
